.uniqueHeaderWrap {
  text-align: center;
  padding: 20px;
  background: linear-gradient(135deg, #0f2027, #301860, #08d9d6);
  color: white;
}

.uniqueMainTitle {
  font-size: 2rem;
  margin: 0;
}

.uniqueSubTitle {
  font-size: 1.2rem;
  margin-top: 6px;
}
